.description_section {
  background: white;
<<<<<<< HEAD
=======
  padding-top: 5rem;
>>>>>>> 7eb95a98a04aac449aadf97b249e462214925ed7
  background: linear-gradient(to bottom, rgb(253, 253, 255), white);
}

.text_container {
  margin: 0 auto;
  padding: 10rem 0;
  display: flex;
  justify-content: center;
  gap: 3.5rem;
}

.description {
  color: var(--black);
  width: 26dvw;
}

.description .title {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 1.25rem;
  line-height: 1.4;
  color: var(--blue);
}

.description p {
  color: var(--blue);
  line-height: 2;
  font-weight: 400;
  font-size: 1rem;
}

.image_container {
  height: 65vh;
  width: 100vw;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 0% 25%;
}


@media (max-width: 760px) {
  .text_container {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 4rem 0;
    width: 100vw;
  }

  .description {
    width: 90%;
    padding: 2rem 0;
  }

  .description .title {
    font-size: 2rem;
  }

  .description p {
    font-size: 1.25rem;
  }

  .image_container {
    height: 40vh;
  }

  .image {
    object-position: center;
  }
}