.image {
  width: auto;
  height: 55vh;
}

.nosotros {
  /* height: calc(100vh - var(--navbar-desktop-height)); */
  display: grid;
  place-items: center;
  padding: 10rem 0;
}

.wrapper {
  display: flex;
  /* transform: translateX(3.5rem); */
  gap: 2rem;
}

.text_container {
  font-size: 1rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 37dvw;
  padding: 0 2rem;
}

.text_container .title {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 1.25rem;
  line-height: 1.4;
  color: var(--gold);
}

.text_container p {
  color: var(--blue);
  line-height: 2;
  font-weight: 400;
  font-size: 1rem;
}

.text_container p+p {
  margin-top: 1rem;
}

@media (max-width: 760px) {
  .nosotros {
    padding: 1rem 0;
  }

  .wrapper {
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin-top: 4rem;
  }

  .image {
    width: 100%;
    height: 40vh;
  }

  .text_container {
    width: 90%;
    margin-bottom: 3rem;
    padding: 0;
  }

  .nosotros .title {
    font-size: 2rem;
    /* font-weight: 400; */
  }

  .nosotros p {
    font-size: 1.25rem;
    /* line-height: 1.75; */
  }

}