.sociales {
  position: relative;
  height: calc(100vh - var(--navbar-desktop-height));
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.text_container {
  font-size: 1rem;
  position: absolute;
  margin-right: 10rem;
  width: 40dvw;
  padding: 2rem 4rem;
  z-index: 10;
}

.text_container::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: var(--gold);
  opacity: 0.85;
}

.text_container .title {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 1.25rem;
  color: white;
  line-height: 1.4;
}

.text_container p {
  color: white;
  line-height: 2;
  font-weight: 400;
  font-size: 1rem;
}

.text_container p+p {
  margin-top: 1rem;
}

.image_container {
  height: calc(100vh - var(--navbar-desktop-height));
  width: 100vw;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: bottom;
}

@media (max-width: 760px) {
  .sociales {
    margin-top: 30rem;
  }

  .text_container {
    width: 90vw;
    left: 5vw;
    top: 20%;
    padding: 2rem;
  }

  .sociales .title {
    font-size: 2rem;
    /* font-weight: 400; */
  }

  .sociales p {
    font-size: 1.25rem;
    /* line-height: 1.75; */
  }
}