.galery {
  min-height: 50vh;
  margin-top: 8rem;
}

.galery .title {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 1.25rem;
  color: var(--gold);
  line-height: 1.4;
  padding: 4rem 2rem;
  padding-bottom: 1rem;
}

.galery_container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

.sec_image {
  flex: 1;
  height: 35vh;
}

.sec_image img {
  filter: brightness(0.7);
}

.sec_image:hover img {
  filter: brightness(0.4);
}

.icon_container_left,
.icon_container_right {
  position: absolute;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  height: 6rem;
  width: 2rem;
  background: var(--light-gold);
  opacity: 0.8;
}

.icon_container_left {
  right: calc(100% + 0.25rem);
}

.icon_container_right {
  left: calc(100% + 0.25rem);
}

.galery svg {
  height: 100%;
  width: 100%;
  color: var(--blue);
}

.principal_image {
  /* height: 80vh;
  width: auto;
  height: auto;
  width: 60vw; */
  position: relative;
  height: 80vh;
  max-width: 60vw;
}

.galery_image {
  animation: play 1.25s ease;
  position: relative;
}

.galery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

@keyframes play {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (max-width: 760px) {
  .galery {
    margin-top: 8rem;
  }

  .galery .title {
    padding-top: 4rem;
  }

  .sec_image {
    display: none;
  }

  .principal_image {
    max-width: 100vw;
    min-width: 100vw;
    height: auto;
  }

  .icon_container_left {
    left: 0;
  }

  .icon_container_right {
    left: 95%;
  }

}