.catering {
  margin-top: 10rem;
  min-height: calc(101vh - var(--navbar-desktop-height));
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 100vw;
  height: 75dvh;
  display: flex;
  justify-content: flex-end;
  gap: 5rem;
}

.text_container {
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 35dvw;
}

.text_container .title {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 1.25rem;
  line-height: 2;
  color: var(--gold);
}

.text_container p {
  color: var(--blue);
  line-height: 2;
  font-weight: 400;
  font-size: 1rem;
}

.text_container p+p {
  margin-top: 1rem;
}

.image_container {
  width: 49vw;
}

.image1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.row {
  display: flex;
  justify-content: flex-end;
  height: 60vh;
  height: 60dvh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.row:first-of-type,
.row:last-of-type {
  justify-content: flex-start;
}

.image_row_container {
  height: 60vh;
  width: 50vw;
}

.image_row {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.image_row:last-of-type {
  object-position: 0% 60%;
}

.row .frase {
  width: 50vw;
  line-height: 50dvh;
  font-size: 4rem;
  font-weight: 300;
  color: var(--gold);
  text-align: center;
  z-index: 2;
}

@media (max-width: 760px) {
  .catering {
    margin-top: 1rem;
    overflow: hidden;
  }

  .wrapper {
    flex-direction: column;
    height: max-content;
    /* padding-top: 4rem; */
  }

  .text_container {
    width: 90%;
    margin-bottom: 3rem;
    padding: 2rem;
  }

  .catering .title {
    font-size: 2rem;
  }

  .catering p {
    font-size: 1.25rem;
  }

  .image_container {
    width: 100vw;
    height: 40vh;
  }

  .row {
    margin: 0.5rem 0;
    height: 35vh;
  }

  .row:first-of-type {
    margin-top: 0.5rem;
  }

  .image_row_container {
    height: 100%;
    width: 100vw;
  }

  .image_row {
    height: 100%;
    object-fit: cover;
    object-position: bottom;
  }

  .row .frase_container {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vw;
  }

  .row .frase {
    bottom: 3rem;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    font-size: 3rem;
    line-height: 3rem;
    padding: 1rem;
  }


}