.galery {
  min-height: 50vh;
  margin-top: 12rem;
}

.galery .title {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 1.25rem;
  color: var(--gold);
  line-height: 1.4;
  padding: 4rem 2rem;
  padding-bottom: 1rem;
}


.bottom {
  padding-top: 1rem;
  width: 70vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
}


.mini_image {
  height: 125px;
  width: 175px;
  margin: 0.1rem;
  object-fit: cover;
  filter: brightness(0.4)
}

.mini_image_selected {
  height: 125px;
  width: 175px;
  margin: 0.1rem;
  object-fit: cover;
}

.mini_image:hover {
  filter: brightness(1)
}

.principal_image {
  /* height: 80vh;
  width: auto;
  height: auto;
  width: 60vw; */
  position: relative;
  height: 65vh;
  max-width: 60vw;
  margin: 0 auto;
}

.galery_image {
  animation: play 0.5s ease;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  display: block;
}

@keyframes play {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (max-width: 760px) {}